using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Diagnostics;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace WpfApplication2
{
    public partial class App: Component
    {    
        public App()
        {
            InitializeComponent();
        }

        public App(IContainer container)
        {
            container.Add(this);

            InitializeComponent();
        }
    }
}
